body{
    background-size:cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
a{
    background-color: white;
    font-size:30px !important;
    width:250px;
    border-radius:15px !important;
    margin-top:35px;
    color:rgb(33, 133, 133);
}
a:hover{
 color:rgb(22, 22, 221);
 text-decoration: underline;
 background-color: chartreuse;
}